.homeDiv {
  width: 100%;
}

.pageTitle {
  font-size: 2rem;
  margin: 0;
  margin-left: 3%;
}

h2 {
  font-size: 3rem;
  margin-left: 3%;
}

.homeText {
  font-size: 1.3rem;
  margin-left: 5%;
  margin-right: 5%;
}
