.pageLinks {
  background-color: lightcoral;
  height: 60px;
  width: 100%;
  justify-content: space-between;
}

.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navList {
  justify-content: center;
  list-style: none;
  gap: 20px;
  padding: 0;
  margin: 0;
  height: 100%;
}

a:visited,
a:hover,
a:link,
a:active {
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
}

.pageTitle {
  font-size: 2rem;
  margin: 0;
}
