.calculator {
  width: 401px;
}

.resultBar {
  background-color: grey;
  color: white;
  width: 100%;
  height: 30px;
  border: 0;
  padding: 0;
}

.resultBar::placeholder {
  color: white;
}

.calculatorItems {
  display: flex;
  flex-wrap: wrap;
  text-align: end;
  border-left: 1px solid;
}

.symbol0,
.symbol {
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-left: 0;
  border-top: 0;
  width: 100px;
  height: 100px;
  background-color: lightblue;
}

.symbol0 {
  width: 200px;
  background-color: lightcoral;
}